<a href="https://colab.research.google.com/github/purva1803/Dataset_Cleaning/blob/main/Week_3_Dataset_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [ ]:
import numpy as np
import pandas as pd

# Load Dataset

In [ ]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas (1).csv")

In [ ]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [44]:
data.dtypes

index            int64
age              int64
salary          object
rating         float64
location        object
established     object
easy_apply      object
dtype: object

In [ ]:
data.sample(4)

    Index   Age     Salary  Rating       Location  Established Easy Apply
18     18  35.0  $44k-$99k     6.7    New York,Ny         1954       TRUE
4       4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1
12     12   NaN  $44k-$99k     0.0       India,In         1999         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE

In [ ]:
data.shape

(29, 7)

# To check missing values

In [ ]:
data.isna().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

To check column in dataset

In [ ]:
data.columns = data.columns.str.lower().str.replace(' ','_')

In [ ]:
data.columns

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

# Replacing the missing values in the cloumn "Age"

In [ ]:
data.age

0     44.0
1     66.0
2      NaN
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12     NaN
13    25.0
14    66.0
15    44.0
16    19.0
17     NaN
18    35.0
19    32.0
20     NaN
21    35.0
22    19.0
23     NaN
24    13.0
25    55.0
26     NaN
27    52.0
28     NaN
Name: age, dtype: float64

In [ ]:
avg_age = data.age.mean()

In [ ]:
data.age= data.age.fillna(avg_age)
data.age = data.age.round(decimals=1)
data.age

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: age, dtype: float64

In [ ]:
data.age.isna().sum()

0

# Salary

In [ ]:
data['salary'] = data['salary'].apply(lambda x:x.replace('$',''))

In [ ]:
data.salary

0      44k-99k
1      55k-66k
2      77k-89k
3      44k-99k
4      44k-99k
5      77k-89k
6      44k-99k
7      44k-99k
8      44k-99k
9      44k-99k
10     10k-49k
11     10k-49k
12     44k-99k
13     44k-99k
14     44k-99k
15    88k-101k
16     19k-40k
17     44k-99k
18     44k-99k
19     44k-99k
20     44k-99k
21     44k-99k
22     55k-66k
23     44k-99k
24     44k-99k
25     44k-99k
26     55k-66k
27     44k-99k
28     39k-88k
Name: salary, dtype: object

In [ ]:
data['age'] = data['age'].astype(int)

# Rating

In [ ]:
avg_rating=data.rating.mean()

In [ ]:
data.rating = data.rating.replace(-1.0, np.nan)
data.rating=data.rating.fillna(avg_rating)
data.rating=data.rating.round(decimals=1)
data.rating

0     5.4
1     3.5
2     3.5
3     4.4
4     6.4
5     1.4
6     0.0
7     3.5
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    3.5
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    3.5
25    0.0
26    3.5
27    5.4
28    3.4
Name: rating, dtype: float64

# Location

In [ ]:
data['location']=data. location.str.replace(" Australia Aus"," Australia")
data['location']=data. location.str.replace("India,In","India")
data['location']=data. location.str.replace("India In","India")
data['location']=data. location.str.replace("New York,Ny","New York")
data.location

0          India
1       New York
2       New York
3          India
4     Australia
5          India
6       New York
7     Australia
8       New York
9          India
10         India
11         India
12         India
13    Australia
14    Australia
15    Australia
16         India
17      New York
18      New York
19      New York
20      New York
21      New York
22      New York
23      New York
24      New York
25    Australia
26         India
27         India
28    Australia
Name: location, dtype: object

# Established

In [ ]:
data.established=data.established.astype(str)
data.established = data.established.str.replace('-1','Unknown')
data.established

0        1999
1        2002
2     Unknown
3        1988
4        2002
5        1999
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10       2008
11       2009
12       1999
13       2019
14       2020
15       1999
16       1984
17       1943
18       1954
19       1955
20       1944
21       1946
22       1988
23       1999
24       1987
25       1980
26       1934
27       1935
28       1932
Name: established, dtype: object

# Easy Apply

In [ ]:
data.easy_apply=data.easy_apply.str.replace("-1","FALSE")
data.easy_apply

0      TRUE
1      TRUE
2     False
3     False
4     False
5      TRUE
6     False
7     False
8     False
9      TRUE
10     TRUE
11    False
12    False
13     TRUE
14     TRUE
15    False
16    False
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    False
22     TRUE
23     TRUE
24    False
25     TRUE
26     TRUE
27    False
28    False
Name: easy_apply, dtype: object

# Dataset after cleaning

In [ ]:
data

    index  age    salary  rating    location established easy_apply
0       0   44   44k-99k     5.4       India        1999       TRUE
1       1   66   55k-66k     3.5    New York        2002       TRUE
2       2   39   77k-89k     3.5    New York     Unknown      False
3       3   64   44k-99k     4.4       India        1988      False
4       4   25   44k-99k     6.4  Australia         2002      False
5       5   44   77k-89k     1.4       India        1999       TRUE
6       6   21   44k-99k     0.0    New York     Unknown      False
7       7   44   44k-99k     3.5  Australia      Unknown      False
8       8   35   44k-99k     5.4    New York     Unknown      False
9       9   22   44k-99k     7.7       India     Unknown       TRUE
10     10   55   10k-49k     5.4       India        2008       TRUE
11     11   44   10k-49k     6.7       India        2009      False
12     12   39   44k-99k     0.0       India        1999      False
13     13   25   44k-99k     3.5  Australia         2019       TRUE
14     14   66   44k-99k     4.0  Australia         2020       TRUE
15     15   44  88k-101k     3.0  Australia         1999      False
16     16   19   19k-40k     4.5       India        1984      False
17     17   39   44k-99k     5.3    New York        1943       TRUE
18     18   35   44k-99k     6.7    New York        1954       TRUE
19     19   32   44k-99k     3.3    New York        1955       TRUE
20     20   39   44k-99k     5.7    New York        1944       TRUE
21     21   35   44k-99k     5.0    New York        1946      False
22     22   19   55k-66k     7.8    New York        1988       TRUE
23     23   39   44k-99k     2.4    New York        1999       TRUE
24     24   13   44k-99k     3.5    New York        1987      False
25     25   55   44k-99k     0.0  Australia         1980       TRUE
26     26   39   55k-66k     3.5       India        1934       TRUE
27     27   52   44k-99k     5.4       India        1935      False
28     28   39   39k-88k     3.4  Australia         1932      False